---
import Particles from "../components/Particles";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Info from "../components/Info.astro";
import Gallery from "../components/Gallery.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
const items = [
  { label: "Home", href: "#" },
  { label: "About", href: "#" },
  { label: "Contact", href: "#" },
];
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="fixed inset-0 -z-10 w-full h-full bg-black">
    <Particles
      client:load
      particleColors={["#ffffff", "#ffffff"]}
      particleCount={500}
      particleSpread={10}
      speed={0.1}
      particleBaseSize={100}
      moveParticlesOnHover={false}
      alphaParticles={false}
      disableRotation={false}
    />
  </div>
  <header>
    <Header />
  </header>
  <main>
    <div class="sm:grid sm:grid-cols-2 p-4">
      <Info

        title="Titulo 1"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut"
      />
      <Info
        title="Titulo 2"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut"
      />
      <Info
        title="Titulo 3"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut"
      />
      <Info
        title="Titulo 4"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut"
      />
    </div>

    <Gallery />
    
    <Testimonials/>
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
