---
const date = new Date();
---


<div class="flex flex-col ">
    <main class="flex-grow">
        <!-- Content goes here -->
    </main>
    <footer class=" text-white  mb-15">
        <div class=" text-center">
            <p>&copy; {date.getFullYear()} SpaceLanding. All rights reserved.</p>
        </div>
    </footer>
</div>