<header class="w-full h-full absolute text-white z-10 flex justify-center items-center">
    <div>
          <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h1>
    </div>
    <div>
        
    </div>
</header>
