<header
  class="text-white p-4 flex flex-col items-center justify-center z-10 absolute w-full h-full"
>
  <div class="text-center text-3xl font-bold mb-4">
    <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit!</h1>
  </div>
  <diva class="flex gap-4 mt-4">
    <button class="p-[3px] relative">
      <div
        class="absolute inset-0 bg-gradient-to-r from-indigo-500 to-purple-500 rounded-lg"
      >
      </div>
      <div
        class="px-8 py-2 bg-black rounded-[6px] relative group transition duration-200 text-white hover:bg-transparent"
      >
        BTN-1
      </div>
    </button>

    <button class="p-[3px] relative">
      <div
        class="absolute inset-0 bg-gradient-to-r from-indigo-500 to-purple-500 rounded-lg"
      >
      </div>
      <div
        class="px-8 py-2 bg-black rounded-[6px] relative group transition duration-200 text-white hover:bg-transparent"
      >
        BTN-2
      </div>
    </button>
  </diva>
</header>
