---
const {title, description} = Astro.props;
---

<section
  class="relative text-white z-10 p-4 gap-4 flex flex-col justify-center border-4 m-4 text-left border-gray-500 rounded-2xl transition-all duration-300 hover:border-transparent text-background-color hover:bg-indigo-600"
>
  <div>
    <h1 class="font-zen-dots text-3xl">{title}</h1>
  </div>
  <div>
    <p class="font-metrophobic">{description}</p>
  </div>
  <div></div>
</section>
