<section
  class="text-white z-10 p-4 gap-4 flex flex-col items-center justify-center w-full md:flex-row sm:justify-between"
>
  <div
    class="p-4 rounded-lg bg-gradient-to-bl from-violet-600 via-violet-600 to-indigo-600"
  >
    <h3 class="font-zen-dots">200+ Projects Launched</h3>
    <p class="font-metrophobic">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora,
      blanditiis mollitia incidunt, tempore magni doloribus aliquid!
    </p>
    <button class="p-[3px] relative mt-6">
      <div
        class="absolute inset-0 bg-gradient-to-r from-indigo-500 to-purple-500 rounded-lg"
      >
      </div>
      <div
        class="px-8 py-2 bg-black rounded-[6px] relative group transition duration-200 text-white hover:bg-transparent"
      >
        BTN-1
      </div>
    </button>
  </div>

  <div>
    <div
      class="p-4 rounded-lg mb-4 bg-gradient-to-bl from-violet-600 via-violet-600 to-indigo-600"
    >
      <h3 class="font-zen-dots">200+ Projects Launched</h3>
      <p class="font-metrophobic">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora,
        blanditiis mollitia incidunt, tempore magni doloribus aliquid!
      </p>
    </div>
    <div
      class="p-4 rounded-lg mb-4 bg-gradient-to-bl from-violet-600 via-violet-600 to-indigo-600"
    >
      <h3 class="font-zen-dots">200+ Projects Launched</h3>
      <p class="font-metrophobic">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora,
        blanditiis mollitia incidunt, tempore magni doloribus aliquid!
      </p>
    </div>
    <div
      class="p-4 rounded-lg mb-4 bg-gradient-to-bl from-violet-600 via-violet-600 to-indigo-600"
    >
      <h3 class="font-zen-dots">200+ Projects Launched</h3>
      <p class="font-metrophobic">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora,
        blanditiis mollitia incidunt, tempore magni doloribus aliquid!
      </p>
    </div>
  </div>
</section>
