<section id="testimonials" aria-label="What our customers are saying" class=" py-20 sm:py-32">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl md:text-center">
      <h2 class="font-display text-3xl tracking-tight text-white font-zen-dots text-center sm:text-4xl">What Our Customers Are Saying</h2>
    </div>
    <ul role="list"
      class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:gap-8 lg:mt-20 lg:max-w-none lg:grid-cols-3">
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure class="relative rounded-2xl border-4 border-gray-500 p-6 shadow-xl shadow-slate-900/10">
              <blockquote class="relative">
                <p class="text-lg tracking-tight text-white font-metrophobic">I love the fitness apparel and gear I purchased from
                  this site. The quality is exceptional and the prices are unbeatable.</p>
              </blockquote>
              <figcaption class="relative mt-6 flex items-center justify-between border-t border-gray-500 pt-6">
                <div>
                  <div class="font-display text-base text-white font-metrophobic">Sheryl Berge</div>
                </div>
                <div class="overflow-hidden rounded-full bg-slate-50">
                  <img alt="" class="h-14 w-14 object-cover" style="color:transparent" src="https://randomuser.me/api/portraits/men/15.jpg">
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure class="relative rounded-2xl border-4 border-gray-500 p-6 shadow-xl shadow-slate-900/10">
              <blockquote class="relative">
                <p class="text-lg tracking-tight text-white font-zen-dots">As a professional athlete, I rely on high-performance
                  gear for my training. This site offers a great selection of top-notch products.</p>
              </blockquote>
              <figcaption class="relative mt-6 flex items-center justify-between border-t border-slate-100 pt-6">
                <div>
                  <div class="font-display text-base text-white font-metrophobic">Leland Kiehn</div>
                </div>
                <div class="overflow-hidden rounded-full bg-gray-500">
                  <img alt="" class="h-14 w-14 object-cover" style="color:transparent" src="https://randomuser.me/api/portraits/women/15.jpg">
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
      <li>
        <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
          <li>
            <figure class="relative rounded-2xl border-4 border-gray-500 p-6 shadow-xl shadow-slate-900/10">
              <blockquote class="relative">
                <p class="text-lg tracking-tight text-white font-metrophobic">The fitness apparel I bought here fits perfectly and
                  feels amazing. I highly recommend this store to anyone looking for quality gear.</p>
              </blockquote>
              <figcaption class="relative mt-6 flex items-center justify-between border-t border-slate-100 pt-6">
                <div>
                  <div class="font-display text-base text-white font-metrophobic">Peter Renolds</div>
                </div>
                <div class="overflow-hidden rounded-full bg-gray-500">
                  <img alt="" class="h-14 w-14 object-cover" style="color:transparent" src="https://randomuser.me/api/portraits/men/10.jpg">
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>